.labCon {
  padding: 10px 8px;
  border-radius: 3px;
  background: #ececec;
  margin-bottom: 10px;

  .label {
    height: 2em;
    line-height: 2em;
    font-weight: bold;
  }
  .tarList {
    padding-left: 12px;
  }
  .tarLab {
    //
  }
}